@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #014e56;
  font-family: "Livvic", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 24px;
}

.header {
  padding: 48px 0 80px 0;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: none;
}

.header__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header__link {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.header__logo {
  width: 128px;
  height: 32px;
}

.header__contact {
  display: none;
  border-radius: 24px;
  border: 2px solid #fff;
  padding: 9px 33px 11px 32px;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.header__menu {
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
  .header__nav {
    display: block;
  }
  .header__menu-icon {
    display: none;
  }
  .header__contact {
    display: block;
  }
}
@media screen and (min-width: 1440px) {
  .header__logo {
    width: 160px;
    height: 40px;
  }
}
.hero {
  position: relative;
  padding-bottom: 200px;
}

.hero__block {
  text-align: center;
}

.hero__title {
  padding: 0 50px;
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 18px;
}

.hero__title-highlight {
  color: #f67e7e;
}

.hero__text {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.hero__bg-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__bg-wrapper-2 {
  position: absolute;
  display: none;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 40px;
    padding-bottom: 256px;
  }
  .hero__title {
    padding: 0 180px;
    font-size: 64px;
    line-height: 56px;
  }
  .hero__text {
    padding: 0 130px;
  }
}
@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 55px;
  }
  .hero__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    text-align: start;
  }
  .hero__title {
    width: 540px;
    padding: 0;
    font-size: 100px;
    line-height: 100px;
    margin: 0;
  }
  .hero__text {
    width: 445px;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
  }
  .hero__text::before {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #79c8c7;
    margin-bottom: 80px;
  }
  .hero__bg-wrapper {
    display: block;
    left: 63%;
  }
  .hero__bg-wrapper-2 {
    display: block;
    left: 0;
    top: 55px;
  }
}/*# sourceMappingURL=main.css.map */