* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #014e56;
  font-family: "Livvic", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 24px;
}
