.story {
  background-color: #004047;
  padding-top: 140px;
  padding-bottom: 165px;

  background-image: url(../img/story-bg-1.svg), url(../img/story_bg-2.svg);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
}

.story__title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 84px;
}

.story__title-highlight {
  color: #79c8c7;
}

.story__box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 84px;
}

.story__box {
  text-align: center;
}

.story__box-description {
  position: relative;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 16px;
  z-index: 1;
}

.story__box-description::before {
  content: "";
  width: 67px;
  height: 56px;
  display: inline-block;

  background-image: url(../img/quote.svg);
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  z-index: -1;
}

.story__box-name {
  color: #79c8c7;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.story__box-position {
  color: #fff;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 16px;
}

.story__box-img {
  width: 62px;
  height: 62px;
}

@media screen and (min-width: 768px) {
  .story {
    padding: 100px;
  }
}

@media screen and (min-width: 1100px) {
  .story {
    padding: 140px 0;
  }

  .story__title {
    width: 930px;
    margin-left: auto;
    margin-right: auto;
  }

  .story__box-wrapper {
    flex-direction: row;
  }

  .story__box {
    width: 33.333333%;
  }
}
